<script lang="ts" setup>
import RoundDisplay from '@/components/RoundDisplay.vue'
import { useRoundsStore } from '@/stores/rounds'
import { TrashIcon, PencilIcon } from '@heroicons/vue/24/outline'
import { formatDistanceToNow } from 'date-fns'
import { storeToRefs } from 'pinia'
import { useRouter } from 'vue-router'

const router = useRouter()

const roundId = parseInt(router.currentRoute.value.params.id as string)

const roundsStore = useRoundsStore()
const { getRoundById } = storeToRefs(roundsStore)

const round = getRoundById.value(roundId)

function deleteRound() {
  if (round) {
    roundsStore.deleteRound(round)
    router.push({ name: 'RoundsList' })
  } else {
    console.error(`Round is undefined. This should never happen!`)
  }
}
function editRound() {
  if (round) {
    router.push({ name: 'RoundEdit', params: { roundId: roundId, holeId: "1" } })
  } else {
    console.error(`Round is undefined. This should never happen!`)
  }
}
</script>

<template>
  <div class="m-3">
    <div class="flex">
      <h1 class="text-xl font-bold">{{ round?.course?.name }}</h1>
      <div class="grow"></div>
      <div class="text-slate-500">
        {{ `${formatDistanceToNow(new Date(round?.date || ''))} ago` }}
      </div>
    </div>
    <RoundDisplay class="bg-gray-300 p-2 rounded-xl" :round="round" />
  </div>
  <div class="fixed ml-2 mb-2 bottom-0">
    <button class="bg-red-500 p-3 text-white rounded" @click="deleteRound">
      <TrashIcon class="h-6 w-6 text-white" />
    </button>
  </div>
  <div class="fixed mr-2 mb-2 bottom-0 right-0">
    <button class="bg-blue-500 p-3 text-white rounded" @click="editRound">
      <PencilIcon class="h-6 w-6 text-white" />
    </button>
  </div>
</template>
