<script lang="ts" setup>
import CourseSelect from '@/components/CourseSelect.vue'
import { useCoursesStore } from '@/stores/courses'
import { useRoundsStore } from '@/stores/rounds'
import type { Course } from '@/types'
import { ArrowPathIcon, MagnifyingGlassIcon } from '@heroicons/vue/24/outline'
import { ref } from 'vue'
import { useRouter } from 'vue-router'

const coursesStore = useCoursesStore()
const roundsStore = useRoundsStore()
const router = useRouter()
let course = ref<Course | null>(null)

let courseFilter = ref('')

function filteredCourses() {
  const re = new RegExp(courseFilter.value, 'i')
  return coursesStore.courses.filter((el) => el.name.match(re))
}

async function updateCourses() {
  await coursesStore.refresh()
}

function createRound() {
  const courseId = course.value?.id
  if (courseId) {
    const round = roundsStore.createRound(1, courseId, new Date())
    router.push({
      name: 'RoundEdit',
      params: { roundId: round?.id, holeId: 1 }
    })
  } else {
    console.error(`Course with id ${courseId} could not be found`)
  }
}
</script>

<template>
  <div>
    <div class="m-2">
      <h1 class="text-xl font-bold">Select your course</h1>
      <div class="flex mb-2">
        <MagnifyingGlassIcon class="h-5 w-5 self-center" />
        <input
          placeholder="Search for a Course"
          class="grow py-1.5 pl-2 pr-20 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400"
          type="search"
          v-model="courseFilter"
        />
      </div>
      <CourseSelect :courses="filteredCourses()" v-model="course" />
    </div>
    <div class="fixed bottom-0">
      <div class="flex w-screen">
        <button @click="updateCourses" class="bg-blue-500 mb-2 ml-2 p-1 rounded">
          <ArrowPathIcon class="h-6 w-6 text-white" />
        </button>
        <div class="grow"></div>
        <button
          @click="createRound"
          :disabled="course === null"
          class="bg-blue-500 disabled:opacity-50 disabled:bg-gray-400 mb-2 mr-2 p-1 text-white rounded"
        >
          Create Round
        </button>
      </div>
    </div>
  </div>
</template>
