<script lang="ts" setup>
import RoundDisplay from '@/components/RoundDisplay.vue'
import ScoreCurrent from '@/components/ScoreCurrent.vue'
import ScoreEdit from '@/components/ScoreEdit.vue'
import { useRoundsStore } from '@/stores/rounds'
import type { Score } from '@/types'
import { formatDistanceToNow } from 'date-fns'
import { storeToRefs } from 'pinia'
import { computed, ref } from 'vue'
import { useRouter } from 'vue-router'
import { ArrowLeftIcon, ArrowRightIcon, ArrowRightStartOnRectangleIcon } from '@heroicons/vue/24/outline'

const router = useRouter()

let roundId = ref(parseInt(router.currentRoute.value.params.roundId as string))
let holeId = ref(parseInt(router.currentRoute.value.params.holeId as string))

const roundsStore = useRoundsStore()
const { getRoundById } = storeToRefs(roundsStore)

const round = getRoundById.value(roundId.value)
const score = round?.score?.find((score: Score) => score.hole.number === holeId.value)

function updateRoute(e: number) {
  router.push({
    name: 'RoundEdit',
    params: { roundId: roundId.value, holeId: e }
  })
  holeId.value = e
}

const strokes = computed({
  get() {
    const score = round?.score?.find((score: Score) => score.hole.number === holeId.value)
    return score?.strokes || 0
  },
  set(newValue: number) {
    roundsStore.updateScore(roundId.value, holeId.value, newValue)
  }
})
</script>

<template>
  <div class="h-screen">
    <div class="flex flex-col min-h-full">
      <div class="flex m-2">
        <div class="font-bold">{{ round?.course?.name }}</div>
        <div class="grow"></div>
        <div class="font-bold">
          {{ `${formatDistanceToNow(new Date(round?.date || ''))} ago` }}
        </div>
      </div>
      <RoundDisplay class="m-2 p-2 bg-gray-300 rounded-xl" @updateSelectedHole="updateRoute($event)" :round="round"
        :highlight="holeId" />
      <br />
      <ScoreCurrent class="ml-2" :round="round" :showUser="true" />
      <div>
        <div class="fixed mb-2 bottom-0">
          <div class="flex w-screen">
            <div class="ml-2">
              <ScoreEdit v-model="strokes" :par="score?.hole?.par" />
            </div>
            <div class="grow"></div>
            <div class="mr-2">
              <button class="disabled:bg-gray-500 bg-blue-500 mr-3 p-3 text-white rounded" :disabled="holeId == 1" @click="updateRoute(holeId - 1)">
                <ArrowLeftIcon class="h-6 w-6 text-white" />
              </button>
              <button class="disabled:bg-gray-500 bg-blue-500 mr-3 p-3 text-white rounded" :disabled="holeId == round?.score.length" @click="updateRoute(holeId + 1)">
                <ArrowRightIcon class="h-6 w-6 text-white" />
              </button>
              <button class="bg-blue-500 p-3 text-white rounded" @click="router.push({ name: 'RoundsList' })">
                <ArrowRightStartOnRectangleIcon class="h-6 w-6 text-white" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
