<script lang="ts" setup>
import RoundListItem from '@/components/RoundListItem.vue'
import { useRoundsStore } from '@/stores/rounds'
import type { Round } from '@/types'
import { Dialog, DialogPanel, TransitionRoot } from '@headlessui/vue'
import { ArrowDownOnSquareStackIcon, ArrowUpOnSquareStackIcon, PlusIcon } from '@heroicons/vue/24/outline'
import exportFromJSON from 'export-from-json'
import { ref } from 'vue'
import { useRouter } from 'vue-router'

const roundsStore = useRoundsStore()
const rounds = roundsStore.rounds.sort(
  (a: Round, b: Round) => new Date(b.date).getTime() - new Date(a.date).getTime()
)

const router = useRouter()

const isOpen = ref(false)

function closeModal() {
  isOpen.value = false
}
function openModal() {
  isOpen.value = true
}

function exportRounds() {
  exportFromJSON({ data: rounds, fileName: 'rounds', exportType: 'json' })
}

function importRounds(e: Event) {
  const target = e.target as HTMLInputElement
  const files = target.files as FileList
  const file = files[0]
  const reader = new FileReader()
  reader.onload = (res) => {
    const result = res.target?.result
    if (typeof result == 'string') {
      const json = JSON.parse(result) as Array<Round>
      roundsStore.importRounds(json)
      closeModal()
    }
  }
  reader.readAsText(file)
}
</script>

<template>
  <TransitionRoot appear as="template" :show="isOpen">
    <Dialog as="div" @open="openModal" class="relative z-10">
      <DialogPanel
        class="w-full max-w-md transform overflow-hidden rounded-2xl p-6 text-left align-middle shadow-xl transition-all"
      >
        <div class="font-bold">Select a file to import</div>
        <input type="file" @change="importRounds" />
      </DialogPanel>
    </Dialog>
  </TransitionRoot>

  <div>
    <div v-if="rounds.length > 0">
      <h1 class="text-xl font-bold">Your Rounds</h1>
      <div v-for="round of rounds" :key="round.id">
        <RoundListItem class="cursor-pointer" :round="round" />
      </div>
    </div>
    <div v-else>
      <h1 class="text-xl font-bold">Welcome to meDisc!</h1>
      <p>You can create your first round by clicking the "New Round" button below</p>
    </div>
    <div class="fixed bottom-0 mb-2">
      <button @click="exportRounds()" class="bg-blue-500 mr-2 p-1 text-white rounded">
        <ArrowUpOnSquareStackIcon class="h-6 w-6 text-white" />
      </button>
      <button @click="openModal" class="bg-blue-500 p-1 text-white rounded">
        <ArrowDownOnSquareStackIcon class="h-6 w-6 text-white" />
      </button>
    </div>
    <div class="fixed bottom-0 right-0">
      <button
        @click="router.push({ name: 'RoundNew' })"
        class="bg-blue-500 mb-2 mr-2 p-3 text-white rounded"
      >
        <PlusIcon class="h-6 w-6 text-white" />
      </button>
    </div>
  </div>
</template>
