<script lang="ts" setup>
import { useUserStore } from '@/stores/user'
import { ref } from 'vue'
import { useRouter } from 'vue-router'

const store = useUserStore()
const router = useRouter()

let name = ref('')
let email = ref('')

function addNewUser() {
  store.add(name.value, email.value)
  router.go(0)
}
</script>

<template>
  <div class="pl-5 pr-5">
    <form @submit.prevent="addNewUser">
      <div class="pb-5">
        <h1>Register a new user</h1>
      </div>
      <div class="pb-5">
        <input
          type="text"
          id="name"
          v-model="name"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="Name"
        />
      </div>
      <div class="pb-5">
        <input
          type="text"
          id="email"
          v-model="email"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="Email"
        />
      </div>
      <button
        type="submit"
        class="rounded-md bg-blue-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500"
      >
        Save
      </button>
    </form>
  </div>
</template>
