<script setup lang="ts">
import type { Course } from '@/types'
import { MapPinIcon } from '@heroicons/vue/24/outline'
import { defineProps } from 'vue'

defineProps<{ course: Course }>()
</script>

<template>
  <div class="p-2 mb-2 rounded-lg">
    <div>
      <div class="flex">
        <div class="font-medium">{{ course?.name }}</div>
        <div class="grow"></div>
        <div class="text-slate-500">
          <div class="flex" v-if="course.location">
            <MapPinIcon class="h-6 w-6 text-slate-500" /> {{ course?.location?.city }},
            {{ course?.location?.state }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
