<script lang="ts" setup>
import CourseListItem from '@/components/CourseListItem.vue'
import type { Course } from '@/types'

defineProps<{ courses: Array<Course>; modelValue: Course | null }>()

const emits = defineEmits(['update:modelValue'])
</script>

<template>
  <div>
    <template v-for="course in courses" :key="course.id">
      <CourseListItem
        :course="course"
        @click="emits('update:modelValue', course)"
        :class="modelValue === course ? 'bg-blue-500 text-white' : 'bg-gray-300 text black'"
      />
    </template>
  </div>
</template>
