<script setup lang="ts">
import { useCoursesStore } from '@/stores/courses'

const coursesStore = useCoursesStore()

if (coursesStore.courses.length === 0) {
  await coursesStore.refresh()
}
</script>
<template>Hello</template>
