<script setup lang="ts">
import { defineProps, ref } from 'vue'

const props = defineProps(['round', 'highlight'])
const round = ref(props.round)
</script>

<template>
  <div class="flex flex-wrap gap-4">
    <div>
      <div>Hole</div>
      <div>Dist</div>
      <div>Par</div>
      <div><b>Score</b></div>
    </div>
    <div
      :class="index + 1 === props.highlight ? 'bg-blue-500 text-white' : false"
      @click="$emit('updateSelectedHole', index + 1)"
      v-for="(score, index) of round.score"
      :key="score.hole.id"
    >
      <div class="text-right">{{ score.hole.displayName }}</div>
      <div class="text-right">{{ score.hole.distance }}</div>
      <div class="text-right">{{ score.hole.par }}</div>
      <div class="text-right">
        <b>{{ score.strokes || '-' }}</b>
      </div>
    </div>
  </div>
</template>

<style>
.highlight {
  background-color: red;
  color: white;
}
</style>
