<script setup lang="ts">
import ScoreCurrent from '@/components/ScoreCurrent.vue'
import type { Round } from '@/types'
import { formatDistanceToNow } from 'date-fns'
import { useRouter } from 'vue-router'

defineProps<{ round: Round }>()
const router = useRouter()
</script>

<template>
  <div
    @click="router.push({ name: 'RoundView', params: { id: round.id } })"
    class="p-2 mb-2 rounded-lg"
  >
    <div>
      <div class="flex">
        <div class="font-medium text-black">{{ round.course.name }}</div>
        <div class="grow"></div>
        <div class="text-slate-500">
          {{ `${formatDistanceToNow(new Date(round?.date || ''))} ago` }}
        </div>
      </div>
      <ScoreCurrent :round="round" />
    </div>
  </div>
</template>
