<script setup lang="ts">
import { useUserStore } from '@/stores/user'
import type { Score } from '@/types'
import { storeToRefs } from 'pinia'
import { computed, defineProps } from 'vue'

const props = defineProps(['round', 'showUser'])

const userStore = useUserStore()
const { getUserById } = storeToRefs(userStore)
const user = getUserById.value(props.round.userId)

const totalStrokes = computed(() => {
  return props.round.score
    .map((el: Score) => el.strokes)
    .reduce((acc: number, el: number) => acc + el, 0)
})

const scoreRelativeToPar = computed(() => {
  const score = props.round.score
    .map((el: Score) => (el.strokes ? el.strokes - el.hole.par : 0))
    .reduce((acc: number, el: number) => acc + el, 0)
  if (score > 0) {
    return `+${score}`
  }
  if (score === 0) {
    return 'E'
  }
  return `${score}`
})
</script>

<template>
  <div>
    <div class="flex">
      <div v-if="showUser">
        <b>{{ user?.name }}</b>
        &nbsp; &nbsp;
      </div>
      <div>{{ scoreRelativeToPar }} ({{ totalStrokes }})</div>
    </div>
  </div>
</template>
