<script setup lang="ts">
import { defineProps } from 'vue'

defineProps(['modelValue', 'par'])
const emits = defineEmits(['update:modelValue'])
</script>

<template>
  <button
    @click="emits('update:modelValue', modelValue ? modelValue - 1 : par - 1)"
    class="bg-blue-500 p-3 text-white rounded-xl"
  >
    -
  </button>
  <span class="text-xl font-medium">{{ ` ${modelValue || ' - '} ` }}</span>
  <button
    @click="emits('update:modelValue', modelValue ? modelValue + 1 : par)"
    class="bg-blue-500 p-3 text-white rounded-xl"
  >
    +
  </button>
</template>
