<script setup lang="ts">
import { useCoursesStore } from '@/stores/courses'
import NewUser from '@/views/UserNew.vue'
import { useLocalStorage } from '@vueuse/core'
import { RouterView } from 'vue-router'

const user = useLocalStorage('user', null)

const coursesStore = useCoursesStore()

if (coursesStore.courses.length === 0) {
  coursesStore.refresh()
}
</script>

<template>
  <Suspense>
    <template #default>
      <template v-if="user">
        <RouterView />
      </template>
      <template v-else>
        <NewUser />
      </template>
    </template>
    <template #fallback> Loading... </template>
  </Suspense>
</template>
